body {
    background-color: #BC8F8F;
}

.main {
    background-color: antiquewhite;
    padding: 30px;
    margin: 50px auto;
    border-radius: 5px;
    max-width: 600px;
    box-shadow:  0 0 10px #8B4513;
}

.main h1{
    font-size: 20px;
    text-align: center;
    color: #3f220e;
}

.form {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input[type="text"]{
    height: 40px;
    min-width: 80%;
    border: 1px solid #3f220e;
    padding: 0 20px;
}


.form button[type="submit"]{
    background-color: #8B4513;
    color:antiquewhite;
    font-weight: bold;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.listaTarefas{
    color:#3f220e;
    font-weight: bold;
    font-family: Cambria;
}